.aboutMe{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.mainPort{
    display: flex;
    align-items: center;
    justify-content: center;
}

header,footer{
    display: flex;
    background-color: rgb(5, 4, 4);
    justify-content: space-between;
    padding: 1%;
    color: white;
    z-index: 2;
    flex-wrap: wrap;
}

.rightHeader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.leftHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonHeader{
    display: flex;
    margin-left: 5%;
    padding: 1%;
}

.buttonHeader a{
    text-decoration: none;
    color: white;
}

.TextaboutMe{
    text-align: left;
    text-justify: auto;
    padding: 1%;
}

.button{
    padding: 1%;
    background-color: var(--buttonColor);
    color: aliceblue;
}

@media (width<= 1300px){
    .aboutMe{
        width: 80%;
    }
}


@media (width<= 900px) {
    .leftHeader{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
    }
    header{
        height: auto;
    }
    .aboutMe{
        flex-wrap: wrap;
        width: 90%;
    }
}

@media (width <= 400px){
    .buttonHeader{
        width: 100%;
        display: flex;
        
    }
}